body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbaar */
.navbar {
  height: 4rem;
  background-color: white;
}
.container-fluid{
  background-color: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info {
  text-align: center;
  height: 6.3rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-social i {
  font-size: 1.7rem;
  margin-right: 1rem;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
  width: 100% !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listinglink {
  text-decoration: none;
}

/* card effect */
.card-img-top {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
  opacity: 0.9;
  background-color: white;
}

/* new page */

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit page */

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */

.show-img {
  height: 40vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* map */
#map {
 height: 450px;
 width: 90vh;
 border-radius: 10px;
}

