<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>

<body>
  
  <h3>all listing</h3>
  <form action="/listings/new" method="GET">
<button> create new  listing</button>
  </form>
   <% for(let listing of allisting){  %>
    <li>
         <a href="/listings/<%= listing._id %>"><%=  listing.title %> </a>
    </li>
  <%  } %>
</body>

</html>