<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    
    <form action="/listings" method="POST">
    <input type="text" name="title" placeholder="enter title" > <br>       
    <textarea  name="description" placeholder="enter discription"></textarea> <br>       
    <input type="text" name="image" placeholder="enter image URL/LINK"> <br>       
    <input type="number" name="price" placeholder="enter price" > <br>       
    <input type="text" name="location" placeholder="enter location" > <br>       
    <input type="text" name="country" placeholder="enter countryName" >      
    <button> ADD</button>
    </form>
</body>
</html>