<% layout("/layouts/boilerplate")%>
<body>
    <h3>create a new listing</h3>

    <form action="/listings" method="POST">
    <input type="text" name="title" placeholder="enter title" > <br><br>
    <textarea  name="description" placeholder="enter discription"></textarea> <br> <br>      
    <input type="text" name="image" placeholder="enter image URL/LINK"> <br>   <br>    
    <input type="number" name="price" placeholder="enter price" > <br>       <br>
    <input type="text" name="location" placeholder="enter location" > <br>       <br>
    <input type="text" name="country" placeholder="enter countryName" > 
    <br><br>
    <button> ADD</button>
    </form>
    
</body>