<% layout("/layouts/boilerplate")%>
   
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form action="/listings" method="POST">
        <div class="mb-2">
            <label for="title" class="form-lable">Enter Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catchy title"  class="form-control"> 
        </div>
        
        
        <div class="mb-2">
            <label for="discription" class="form-lable">Discription</label>
            <textarea  name="listing[description]" class="form-control"></textarea>       
        </div>
        
        <div class="mb-2">
            <label for="image" class="form-lable">image link</label>
            <input type="text" name="listing[image]" placeholder="enter image URL/LINK" class="form-control">
        </div>
     

        <div class="row">
            <div class="mb-2 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input type="number" name="listing[price]" placeholder="1200" class="form-control"> 
            </div>
            
            <div class="mb-2 col-md-8">
                <label for="country" class="form-lable">country</label>
                <input type="text" name="listing[country]" placeholder="INDIA"
                class="form-control" > 
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-lable">location</label>
            <input type="text" name="listing[location]" placeholder="Jaipur(RAJ)" class="form-control"> 
        </div>

        
        <button class="btn btn-dark add-btn"> ADD</button>
        <br><br>
    </form>
</div>
</div>    
