<% layout("/layouts/boilerplate")%>

<style>
   .notfound{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
   }
   .notfound i{
    font-size: 35px;
    margin: 10px 20px;
    color: orangered;
   }
</style>
<div>
    <div class="notfound">
        <i class="fa-solid fa-ban"></i>
        <h1> !oops no listing find</h1>
    </div>
</div>